*{
    margin: 0;
    padding: 0;
}

/* shared styles */

.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Main styles */

header{
    background-color: #fff8f3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


